body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
        background: ;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/ig0rAL4stTDjFfrIcefEFSQvV0TFad-GNEcmaH6k6bgF2ZyaZ2x9HlK1RUPuU92KHF2dFyLBpLM2wEbINP0sCeW4uAqFuTFkA5jJcvBrFiXY61kNrVB2Mv-w3Xfivl8P7mImSm9Snz_jPTMYQPCmUCeKl_ufNZvQh-AiycExCMahEIMFNO7k_F5y-g8U_mmiUn0ME2OteIiBcF4kiDNabjf68gDLo3Bb4mUrB2O2SYTasjJrv75oA747b7a3YFeKJ_DMKmrmHb5suFnCXko22BOQ68WxompWoqpEjLuViESsDwfBOtOSDQuFSN-VKDH2o3p5vaM_CgX4LJKq1q2an-0WD0nMjtlLjYq6uQ2-ctsvWZbv_0R0B3kIu-3164RdXkq27DQGdzLeSeggJqrP-l1CMkGRdnped270bYOuNyR301jlkg4qfoKA4bYB5xYL3njkYGLBx-8lFaa1BQdcnIR-stmHpG7qXM4whzcYUPwe_Qbx3sAqbAjwZMBYVXxnZf-aLIwULvGov2wkXZDqwiXoixUpfAwAwiP1De1htK9KcOnUszy_AbS3HBo0IdEnq9gHMira_86pxZ1CeDKBPqVbTrn5BueNy_AqSF5QWVIuNN9ABysuebB31XUktHhgrGByu1vOLVCu2rrr-sDHupsY2DUrbg=w1109-h739-no);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color:white;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: pink;
  }
  
  .light {
    background-color: orange;
  }
  
  .city {
    background-color: teal;
  }
  
  .vienna {
    background-color: Brown;
  }
  
  .italian {
    background-color: Black;
  }
  
  /* Typography */
  h1 {
    color: white;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: left;
    top: 20%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  
